@font-face {
  font-family: "iconfont"; /* Project id 4767668 */
  src: url('//at.alicdn.com/t/c/font_4767668_zakn7ar90l.woff2?t=1733565992177') format('woff2'),
       url('//at.alicdn.com/t/c/font_4767668_zakn7ar90l.woff?t=1733565992177') format('woff'),
       url('//at.alicdn.com/t/c/font_4767668_zakn7ar90l.ttf?t=1733565992177') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-shengdanwancan:before {
  content: "\e6fb";
}

.icon-shengdanliwu:before {
  content: "\e6fc";
}

.icon-shengdanmao:before {
  content: "\e6fe";
}

.icon-shengdanqiu:before {
  content: "\e6ff";
}

.icon-shengdanlihe:before {
  content: "\e700";
}

.icon-shengdanxuemao:before {
  content: "\e701";
}

.icon-shengdanguaizhang:before {
  content: "\e6fa";
}

.icon-shengdanwazi:before {
  content: "\e6fd";
}

